//

.dropdown-profile {
  .dropdown-toggle::after {
    display: none;
  }
}
.nav-user {
  // padding: calc(#{$topbar-height - 39px} * 0.5) 20px calc(#{$topbar-height - 39px} * 0.5) 57px !important;
  text-align: left !important;
  position: relative;
  // background-color: #{lighten(map-get($grays, "100"), 2.5%)};
  // border: #{($border-width) solid map-get($grays, "100")};
  border-width: 0 1px;
  // min-height: $topbar-height;

  .account-user-avatar {
    // position: absolute;
    // top: calc(#{$topbar-height - 32px} * 0.5);
    // left: 15px;

    img {
      height: 40px;
      width: 40px;
    }
  }
  .account-position {
    display: block;
    font-size: 12px;
    margin-top: -3px;
  }
  .account-user-name {
    // display: block;
  }
}
